<h2 class="current-page">Climbing Safely</h2>

<ol class="page">
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/3/3c/Rock-Climb-Step-9-Version-2.jpg/aid611527-v4-728px-Rock-Climb-Step-9-Version-2.jpg.webp" alt="step 1: learn to tie in from a trained professional">
    <div class="step-num">1</div><h3>Always learn to tie in and belay with a trained supervisor.</h3>
    <p> Belaying is not a difficult process, but it is an essential one if you're serious about climbing. Most climbing gyms will require you to take a supervised test before you're allowed to belay someone. They usually offer classes or free, quick lessons as well. You should always practice belaying with a trained expert. While belaying needs to be trained in person, however, you should know how to tie into your rope no matter what your skill level.
    </p>
    <ul>
      <li>Belaying is when someone stands below the climber with the rope. They catch them if they fall, give them more rope as they climb, and lower them down slowly when they finish.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/3/34/Rock-Climb-Step-10-Version-2.jpg/aid611527-v4-728px-Rock-Climb-Step-10-Version-2.jpg.webp" alt="step 2: Fit harness snugly">
    <div class="step-num">2</div><h3>Attach your harness as snugly as possible.</h3>
    <p> Whether climbing or belaying, your harness should be snug across your waist and thighs. Do no skimp on this -- tighten every buckle as much as your comfortably can. This includes the leg loops, which cannot be skipped.
    </p>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/a/af/Rock-Climb-Step-11.jpg/aid611527-v4-728px-Rock-Climb-Step-11.jpg.webp" alt="step 3: Create a figure-eight knot">
    <div class="step-num">3</div><h3>Create a figure-eight in the bottom of the rope, leaving roughly an arm's length at the bottom.</h3>
    <p> This is frequently done for you at climbing gyms, but you should understand the process if it is not. There will be two identical strands of rope coming down from the top of the wall. Grab the one closest to the wall and measure out roughly an arm's length. From there:
    </p>
    <ul>
      <li>Gripping the rope at your "arm's length," drop the bottom of the rope. Holding it up, you should have an upside-down "U" shape in your hands.</li>
      <li>Pinch the two sides of the U to create a "bite," or small 1-2" loop.</li>
      <li>Wrap the bottom of your rope around the bite. You'll cross over your hand so that the end of the rope is back on your side of the bite.</li>
      <li>Thread the end of the rope through your bite hole.</li>
      <li>Pull the end of the role through to make your figure eight.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/5/5c/Rock-Climb-Step-12.jpg/aid611527-v4-728px-Rock-Climb-Step-12.jpg.webp" alt="step 4: thread rope through harness">
    <div class="step-num">4</div><h3>Thread the end of the rope into your harness.</h3>
    <p> This is how you tie in. While all harnesses are different, in general, you'll thread the rope through two loops in the front of your harness. You'll later tie the end of the rope into your figure eight, effectively attaching yourself to the rope.
    </p>
    <ul>
      <li>Make sure that the rope goes through both loops -- the one on your legs and your waist, before tying in.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/b/b9/Rock-Climb-Step-13.jpg/aid611527-v4-728px-Rock-Climb-Step-13.jpg.webp" alt="step 5: tie a double eight knot">
    <div class="step-num">5</div><h3>Take the end of the rope and trace out your figure eight to make a double eight knot.</h3>
    <p> Once you're figure-eight is made and you're attached to the rope, complete the tie-in by doubling up on your knot. To do so, you'll simply take then end of the rope in your hand and follow the shape of your figure eight, threading the end in, under, and over the rope to create a snug, secure double figure eight:
    </p>
    <ul>
      <li>Note the path of the rope coming back towards you, from your figure eight.</li>
      <li>Slide the end of your rope <i>exactly</i> the same way this rope runs so that you have parallel ropes.</li>
      <li>Trace the rope up and over, then back through the figure eight. Again, you're just trying to follow this rope line, create two parallel ropes for a double figure eight.</li>
      <li>When you're done, the end of the rope should be pointing forward, following the rope up the wall.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/8/82/Rock-Climb-Step-14.jpg/aid611527-v4-728px-Rock-Climb-Step-14.jpg.webp" alt="step 6: pull the knot tight">
    <div class="step-num">6</div><h3>Pull the rope tight and consider making a safety knot.</h3>
    <p> Grip the both sides of the rope, two ropes at a time, and pull the knot tight. Use your fingers to push or mold the double figure eight so that you have parallel lines throughout with no crossing, twisting, or braiding. Most gyms require a simple safety knot as well, tying off the loose end. To do so:
    </p>
    <ul>
      <li>Place your thumb on the rope, roughly 2-3" above the figure eight. Grip the loose end in your other hand.</li>
      <li>Wrap the loose end over your thumb twice, making an X above your thumb.</li>
      <li>Wrap the end around one last time, then feed it through the hole where your thumb is.</li>
      <li>Pull the loose end tight to cinch the knot down.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/a/a9/Rock-Climb-Step-15.jpg/aid611527-v4-728px-Rock-Climb-Step-15.jpg.webp" alt="step 7: check your knot">
    <div class="step-num">7</div><h3>Check your knot for safety.</h3>
    <p> There will be five pairs of parallel rope -- one before the knot, one after the knot, and three little segments in your double figure eight. Your double figure eight should look identical on the top and bottom, and the safety knot should be tight. There shouldn't be any crossed ropes. If there are, loosen the figure eight slightly and bend or move the ropes so that they are all parallel, then tighten it again.
    </p>
    <ul>
      <li>Always have an experienced climber check your ropes when you're first starting out.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/7/76/Rock-Climb-Step-16.jpg/aid611527-v4-728px-Rock-Climb-Step-16.jpg.webp" alt="step 8: communicate with your belayer">
    <div class="step-num">8</div><h3>Communicate with your belayer before climbing.</h3>
    <p> There is an almost universal code for climbers, and it is used to ensure that everyone is set and the safety measures are in place. Before you climb, you must always follow this protocol. However, some places use different climbing calls.
    </p>
    <ul>
      <li>You ask, "On Belay?".</li>
      <li>They reply, "Belay on."</li>
      <li>You get ready on the wall and say, "Climbing?"</li>
      <li>They respond, "climb on."</li>
    </ul>
  </li>
</ol>

