
<div class="wrapper">
    <header class="main-head">header</header>
    
    <main class="content">
        <section class="wide">
            <h2>Let's Cook an Egg</h2>
        </section>
        <section class="slide">
            <h3>Step1</h3>
            <h4>Heat up a pan and put some butter</h4>
        </section>
        <section class="slide">
            <h3>Step2</h3>
            <h4>Crack an egg into the pan</h4>
        </section>
        <section class="slide">
                <h3>Step3</h3>
                <h4>Add salt and pepper</h4>
        </section>
        <section class="slide">
                <h3>Step4</h3>
                <h4>Enjoy...</h4>
        </section>
    </main>
    
    <footer class="main-footer">footer</footer>
</div>