<h2 class="current-page">Improving Technique</h2>

<ol class="page">
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/c/c4/Rock-Climb-Step-17.jpg/aid611527-v4-728px-Rock-Climb-Step-17.jpg.webp" alt="step 1: keep weight on your feet">
    <div class="step-num">1</div><b>Keep your hips close to the wall by pointing your knees to the side.</b>
    <p> The more you lean back, the more you rely on your fingers to hold you close to the wall. This drains your energy quickly and will almost definitely hurt your fingers over time. Instead, angle your knees away from the wall, almost like a frog, to keep your hips close to the wall. Whenever you need to push away to survey the route or grab another hold, make the movement quickly, then hug the way again to save energy.
    </p>
    <ul>
      <li>You want as much weight as possible on your feet at all times.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/e/e6/Rock-Climb-Step-18.jpg/aid611527-v4-728px-Rock-Climb-Step-18.jpg.webp" alt="step 2: relax grip">
    <div class="step-num">2</div><b>Relax your grip.</b>
    <p> Frequently, during harder moves or when you get tired, you'll tend to grip the hold tightly. However, your hand holds are generally just there for balance. Remember, you want your feet to do most of the work, so loosen up your fingers. Trust them, almost hanging from them for balance, not to keep your weight on the wall. Your fingers are basically just balance hooks.
    </p>
    <ul>
      <li>As you get better, you'll encounter overhangs and moves that require some serious finger strength. However, you'll build this naturally as you progress towards harder climbs.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/0/06/Rock-Climb-Step-19.jpg/aid611527-v4-728px-Rock-Climb-Step-19.jpg.webp" alt="step 3: Find your deadpoint">
    <div class="step-num">3</div><b>Find your "dead point" when making big moves on the wall.</b>
    <p> The dead point is the spot when you transition from moving up to falling down. Basically, your momentum is shifting from a "jump" to a fall, and as such you don't move at all, making it easier to grab the hold. Not all moves are close enough that you can move slowly from one to the other. Sometimes you'll need to push off with your foot and grab the hold while on the move. Learning to grab it right when you hit your apex will greatly increase your fluidity on the wall.
    </p>
    <ul>
      <li>To practice, find a route with several holds just out of reach, or practice on the bouldering wall. Practice grabbing the hold with your arm extended so that you don't feel any drop as you grip it.</li>
      <li>The fear of falling and the fear of heights are perfectly normal human instincts. Remember, however, that you have a bevy of safety equipment, padded floors, and a knowledgeable person holding you up. After your first few slips, you'll get used to it.</li>
      <li>Starting with an expert, even just a friend who climbs often, is a great way to break slowly into the sport.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/4/43/Rock-Climb-Step-20.jpg/aid611527-v4-728px-Rock-Climb-Step-20.jpg.webp" alt="step 4: climb with rhythm">
    <div class="step-num">4</div><b>Climb with rhythm.</b>
    <p> While this may change for some routes or crux moves, developing a rhythm is often the best way to conscientiously build good climbing habits. Think of moving with the feet first, going <i>foot, foot, hand, hand,</i> up the entire wall. Start with some easy routes to get used to this. Because you're moving quickly, with your feet first, you'll naturally come to rely on your leg muscles and stop over-using and tiring your hands.
    </p>
    <ul>
      <li>Quick, focused climbing saves energy, as it prevents hanging on the wall and getting tired.</li>
      <li>Focus on your breathing as you move. Many people hold their breath as they try hard moves, but that just deprives your muscles of much-needed oxygen. As you develop a rhythm, breath into it as well so that you have regular, rhythmic breathing.</li>
    </ul>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/1/13/Rock-Climb-Step-21.jpg/aid611527-v4-728px-Rock-Climb-Step-21.jpg.webp" alt="step 5: climb down">
    <div class="step-num">5</div><b>Climb down a few routes.</b>
    <p> This is a great training exercise for your balance and route spotting. Most importantly, it focuses on landing your feet very precisely, making your footwork exponentially better. If you can use your feet effectively on the way down, you'll develop the skills needed to place your feet anywhere on the way up quickly.
    </p>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/7/73/Rock-Climb-Step-22.jpg/aid611527-v4-728px-Rock-Climb-Step-22.jpg.webp" alt="step 6: increase climb pace">
    <div class="step-num">6</div><b>Increase your climbing pace while staying deliberate in your movements.</b>
    <p> Skilled climbers move quickly, as this saves energy wasted by holding onto a rock while deciding what to do. While you don't want to try scrambling up the rock, lunging wildly, you want to make your moves quickly. Once you've decided what to do -- do it. Don't wait around or keep shifting as you'll only lose energy and make the rest of the climb even harder.
    </p>
  </li>
  <li class="step">
    <img src="https://www.wikihow.com/images/thumb/3/37/Rock-Climb-Step-23.jpg/aid611527-v4-728px-Rock-Climb-Step-23.jpg.webp" alt="step 7: watch others climb">
    <div class="step-num">7</div><b>Watch other climbers to learn new moves and possible betas.</b>
    <p> The beta, or sequence of moves used, becomes increasingly important the harder the route gets. While beginners generally can choose 4-5 ways up a route, difficult routes (5.10 and up) sometimes only have 1-2 sets of moves that can be used. Frequently, they aren't always that obvious. There are hundreds of moves, techniques, and little tricks that can be used for specific problems, but the rock climbing community is luckily a very inclusive one. Watch other climbers, pantomiming the moves from the ground to get used to hand positioning.
    </p>
  </li>
</ol>
