* {
  box-sizing: border-box;
  color: #0D0A0B;
}

body {
  font: 400 100%/1.5 'Lato', Arial, sans-serif;
  background-color: F3EFF5;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

#root {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}